/* static/styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    padding: 20px;
    text-align: center;
}

.login-header {
    margin-bottom: 20px;
}

.logo {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    color: #5c4cec;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #000000;
    font-size: 16px;
}

.login-form button {
    background-color: #4CAF50;
    color: rgb(240, 240, 240);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: #45a049;
}

.form-links {
    margin-top: 10px;
    font-size: 14px;
}

.form-links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

.social-login {
    margin-top: 20px;
}

.social-login p {
    font-size: 14px;
    color: #777;
}

.social-button {
    background-color: #ddd;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.social-button.google {
    background-color: #db4437;
    color: white;
}

.social-button.facebook {
    background-color: #3b5998;
    color: white;
}

.social-button:hover {
    opacity: 0.9;
}

#background {
    background-image: url("back1.jpg");
    background-size: cover;
    background-position: center;
}
